/* .container {
  max-width: 1600px;
  width: 100%;
} */

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 34px;
  line-height: 41px;
  text-transform: uppercase;
  color: #3c3c3c;
  text-align: center;
  margin-top: 69px;
}

h1:after {
  width: 45px;
  background: #dddbdb;
  height: 3px;
  position: relative;
  display: block;
  content: "";
  margin: 10px auto 61px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #3c3c3c;
  text-align: center;
  margin-bottom: 75px;
}

.name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #282528;
  margin-bottom: 0;
}

.prof {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #646464;
}

.hiden-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  width: 270px;
  background: #00aed9;
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: 300ms ease;
}

.hiden-block:hover {
  opacity: 1;
}

.hiden-block a {
  background: #25d4ff;
  width: 42px;
  height: 42px;
  text-align: center;
  margin: 2px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.hiden-block a:hover {
  background: #ffffff;
}

.hiden-block a i {
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
}

.hiden-block a:hover i {
  color: #25d4ff;
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px;
  }
}